/*цвет основного текста #757575*/
/*вторичный цвет текста #212121*/
/*акцент #2196f3*/

/*цвет фона #ffffff*/
/*вторичный цвет фона  #2f303a*/

/*Hero*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color);
  background-image: linear-gradient(
      to top,
      var(--hero-color),
      var(--hero-color)
    ),
    url("../images/hero-foto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--primary-bg-color);

  text-align: center;
}
.hero-title {
  padding-top: 200px;
  margin-bottom: 45px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: inline-block;
  margin-bottom: 200px;
  padding: 10px 32px;
  min-width: 136px;

  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*Section*/
.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Особенности работы */
.features {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}
.features .item + .item {
  margin-left: 30px;
}
.features .item {
  width: 270px;
  margin-right: 15px;
  margin-left: 15px;
}
.features-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  margin-bottom: 94px;

  font-size: 14px;
  line-height: 1.71;
}
.antenna,
.clock,
.diagram,
.astronaut {
  margin-top: 119px;
  margin-bottom: 55px;
  margin-left: 100px;
}
/* Чем мы занимаемся */
.workes {
  display: flex;
  padding-bottom: 94px;
}
.workes .item:not(:last-of-type) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  display: flex;
  padding-bottom: 94px;
}
.team .item:not(:last-of-type) {
  margin-right: 30px;
}
.team .item {
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.container > .teams {
  padding-top: 94px;
}
.team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.social {
  display: flex;
  justify-content: space-evenly;
  height: 44px;
}
.social-link {
  display: flex;
  padding: 12px;
  width: 44px;
  height: 44px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border: 1px soli transparent;
  border-radius: 50%;
}
.instagram,
.twitter,
.facebook,
.linkedin {
  margin: 0;
  padding: 0;
  fill: var(--social-color);
}
.instagram:hover,
.instagram:focus,
.twitter:hover,
.twitter:focus,
.facebook:hover,
.facebook:focus,
.linkedin:hover,
.linkedin:focus {
  fill: var(--primary-bg-color);
}

/* Постоянные клиенты */
.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  padding-top: 94px;
}
.clients {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 94px;
}
.clients-list:not(:last-child) {
  margin-right: 30px;
}
.clients-list {
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-color);
  box-sizing: border-box;
  border-radius: 4px;
  align-content: center;
}
.clients-list a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.logo-1,
.logo-2,
.logo-3,
.logo-4,
.logo-5,
.logo-6 {
  --color4: var(--social-color);
  --color2: var(--social-color);
}
.clients-list:hover {
  border: 1px solid var(--accent-color);
}
.logo-1:hover,
.logo-2:hover,
.logo-3:hover,
.logo-4:hover,
.logo-5:hover,
.logo-6:hover {
  --color2: var(--accent-color);
  --color4: var(--accent-color);
}
